Django==1.10.3
django-allauth==0.29.0
django-bootstrap-form==3.2.1
django-crispy-forms==1.6.1
django-guardian==1.4.6
django-userena==2.0.1
easy-thumbnails==2.3
html2text==2014.12.29
oauthlib==2.0.1
Pillow==3.4.2
python-openid==2.2.5
requests==2.12.1
requests-oauthlib==0.7.0
six==1.10.0
