{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Set Password | Washdapp.com" %}{% endblock %}

{% block content %}
<div class="main-container">
    <section class="cover fullscreen">
        <div class="container v-align-transform">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="feature bordered text-center login">
                        <h4 class="uppercase">{% trans "Set Password" %}</h4>
                        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end of container-->
    </section>

{% endblock %}
