{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password | Washdapp.com" %}{% endblock %}

{% block content %}
<div class="main-container">
    <section class="cover fullscreen">
        <div class="container v-align-transform">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="feature bordered text-center login">
                        <h4 class="uppercase">{% trans "Change Password" %}</h4>
                        <p>{% trans 'Your password is now changed.' %}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--end of container-->
    </section>
{% endblock %}
