{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset | Washdapp.com" %}{% endblock %}

{% block content %}
<div class="main-container">
    <section class="cover fullscreen">
        <div class="container v-align-transform">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="feature bordered text-center login">
                        <h4 class="uppercase">{% trans "Password Reset" %}</h4>
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="{% trans 'Reset My Password' %}" />
                        </form>
                        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--end of container-->
    </section>
{% endblock %}
