{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address | Washdapp.com" %}{% endblock %}

{% block content %}
<div class="main-container">
    <section class="cover fullscreen">
        <div class="container v-align-transform">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="feature bordered text-center login">
                        <h4 class="uppercase">{% trans "Verify Your E-mail Address" %}</h4>
                        <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--end of container-->
    </section>
    <h1></h1>


{% endblock %}
